name: Auto Label Issues

on:
  issues:
    types: [opened]

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - name: Label Bug
        uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: bug
